.stage {
	width: 100%;
	display: flex;
	font-size: 0.26rem;
	padding-top: 37px;
	padding-bottom: 43px;
}
/* 头部搜索区域 */
.home-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #ff852a;
}
.home-header-box {
	position: relative;
	padding: 6px 9px 6px 42px;
}
.tbIcon {
	position: absolute;
	left: 8px;
	top: 3px;
	font-size: 28px;
	color: #fff;
}
.searchCommodity {
	display: block;
	background: #ff4e22;
	color: #f0e0dc;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	border-radius: 4px;
	text-align: center;
}
/* 中间内容区域 */
.home-content {
	width: 100%;
	height: 20rem;
	border: 2px solid blue;
}
/* banner图 */
.home-content-banner {
}

/* 底部固定导航栏区域 */
.home-footer {
	position: fixed;
	width: 100%;
	height: 43px;
	border: 1px solid red;
	bottom: 0;
	left: 0;
}
